# SHIBUYA - The Framework Agnostics Development System
# Zentrales Infrastruktur-Modul für Datenbanken

services:
  # Der Herzschlag der Datenhaltung
  kpn-db:
    image: postgres:16-alpine
    container_name: kpn-postgres-db
    restart: always
    environment:
      POSTGRES_USER: kpn_admin
      POSTGRES_PASSWORD: kpn_password
      POSTGRES_DB: kpn_main
    ports:
      - "52302:5432"
    volumes:
      - kpn_db_data:/var/lib/postgresql/data
      # Initialisierungsskripte für autarke Datenbanken
      - ./init-db:/docker-entrypoint-initdb.d

  # Datenbank-Verwaltung (pgAdmin)
  kpn-pgadmin:
    image: dpage/pgadmin4
    container_name: kpn-postgres-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@kpn.dev
      PGADMIN_DEFAULT_PASSWORD: admin_password
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: "False"
      PGADMIN_SERVER_JSON_FILE: /pgadmin4/servers.json
    ports:
      - "52202:80"
    volumes:
      # Wir mappen die lokale Datei in den Container
      - ./servers.json:/pgadmin4/servers.json
    depends_on:
      - kpn-db

# Benannte Volumes für Datenpersistenz
volumes:
  kpn_db_data:
