@layer reset {
  body {
    margin: 0;
    min-height: 100dvh;
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    hyphens: auto;
  }

  img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    object-fit: cover;
    shape-margin: var(--md);
  }

  .nav {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        a {
          display: block;
          transition: 200ms;
        }
      }
    }
  }

  /* TYPO3 admin panel restoring so it doesnt affect the layout grid */
  #TSFE_ADMIN_PANEL_FORM {
    position: fixed;
    bottom: 0;
    right: 0;
  }
}
