@layer grid {
  [data-v-app] {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: var(--xl);
  }

  [data-v-app] > div:nth-child(1) {
    position: sticky;
    top: 0;
    background-color: var(--surface);
    z-index: 300000;
  }
  [data-v-app] > div:nth-child(2) {
    z-index: 200000;
  }
  [data-v-app] > div:nth-child(3) {
    z-index: 100000;
  }

  .main-grid {
    display: grid;
    align-content: start;
    grid-template-columns:
      minmax(var(--lg), 1fr)
      minmax(0, 1180px)
      minmax(var(--lg), 1fr);

    > * {
      grid-column: 1 / -1;

      display: grid;
      grid-template-columns: subgrid;

      > * {
        grid-column: 2 / -2;
      }
    }
  }

  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
